<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>에니어그램 테스트</title>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
      integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="./style.css" />
  </head>

  <body>
    <div id="app">
      <div class="container">
        <h1 class="mt-5 text-center">에니어그램 테스트</h1>

        <div class="row">
          <div class="offset-lg-1 col-lg-10 mt-5">
            <div v-if="step == 'step1'" class="card p-3">
              <p class="h3 mb-3 text-center">검사하기 전에 읽어볼 사항</p>
              <ul>
                <li>
                  이 검사는 개인의 심리적 성향과 성격의 역동을 알아내어 자기와
                  타인을 이해하고 이를 토대로 직장과 사회 그리고 가정의 실제
                  생활에 도움을 주고자 하는데 그 목적이 있습니다.
                </li>
                <li>
                  이 검사는 인간의 능력을 진단하거나 평가하는 심리검사가
                  아닙니다.<br />
                  따라서 높은 점수가 좋은 것은 아닙니다.<br />
                  자기에 대한 자신의 생각과 느낌을 점수로 표시하면 됩니다.
                </li>
                <li>
                  응답을 하는 과정에서 어느 한 문항을 너무 오래 생각하지
                  마십시오.<br />
                  또한 비슷한 문항에 대해 의식적으로 일관성 있게 응답하려 하지
                  말고 주어진 문항에 편안하고 자연스럽게 응답하시기 바랍니다.
                </li>
                <li>
                  이상적으로 생각하는 자신의 모습이 아닌 평소의 자연스럽고 자주
                  나타나는 자신의 생각, 느낌, 행동하는 경향을 점수로
                  표기하십시오.
                </li>
                <li>
                  다음 문항들은 자신의 특징을 나타내고 있습니다.<br />
                  제시된 문항을 잘 읽고 그 문항이 자신을 얼마나 잘 설명하고
                  있는가를 결정하여 자신의 생각 또는 느낌과 일치하는 응답을 골라
                  주세요.
                </li>
              </ul>
              <div class="text-center mt-5">
                <button
                  class="btn btn-outline-primary btn-lg"
                  @click="clickStart"
                >
                  시작하기
                </button>
              </div>
            </div>

            <div v-if="step == 'step2'" class="step2">
              <form @submit.prevent="clickNext">
                <div
                  v-for="(question, index) in curQuestionList"
                  :key="question[1]"
                  class="card p-2 mb-3"
                >
                  <p class="text-center mb-2">
                    <strong>{{ question[1] }}</strong>
                  </p>
                  <div class="radio-btn-group">
                    <div class="radio-btn-group-item">
                      <input
                        type="radio"
                        :id="`question_${index}_1`"
                        :name="`question_${index}`"
                        value="1"
                        v-model.number="curScoreList[index]"
                        required
                      />
                      <label :for="`question_${index}_1`"
                        >전혀 그렇지 않다</label
                      >
                    </div>
                    <div class="radio-btn-group-item">
                      <input
                        type="radio"
                        :id="`question_${index}_2`"
                        :name="`question_${index}`"
                        value="2"
                        v-model.number="curScoreList[index]"
                        required
                      />
                      <label :for="`question_${index}_2`">그렇지 않다</label>
                    </div>
                    <div class="radio-btn-group-item">
                      <input
                        type="radio"
                        :id="`question_${index}_3`"
                        :name="`question_${index}`"
                        value="3"
                        v-model.number="curScoreList[index]"
                        required
                      />
                      <label :for="`question_${index}_3`">보통이다</label>
                    </div>
                    <div class="radio-btn-group-item">
                      <input
                        type="radio"
                        :id="`question_${index}_4`"
                        :name="`question_${index}`"
                        value="4"
                        v-model.number="curScoreList[index]"
                        required
                      />
                      <label :for="`question_${index}_4`">그렇다</label>
                    </div>
                    <div class="radio-btn-group-item">
                      <input
                        type="radio"
                        :id="`question_${index}_5`"
                        :name="`question_${index}`"
                        value="5"
                        v-model.number="curScoreList[index]"
                        required
                      />
                      <label :for="`question_${index}_5`">매우 그렇다</label>
                    </div>
                  </div>
                </div>

                <div class="text-center mt-5">
                  <span class="d-block"
                    >{{ parseInt(curIndex / countPerPage) + 1 }} / {{
                    parseInt(endIndex / countPerPage) + 1 }}</span
                  >
                  <button
                    type="submit"
                    class="btn btn-outline-primary btn-lg"
                    :disabled="isNextButtonDisabled"
                  >
                    다음
                  </button>
                </div>
              </form>
            </div>

            <div v-show="step == 'step3'" class="step3">
              <div class="card p-5">
                <p class="text-center h4 mb-5">
                  당신의 예상 유형은
                  <strong>{{ getEnneagramTypeName() }}</strong>입니다.
                </p>
                <div id="chart"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script
      src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
      integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
      integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
      crossorigin="anonymous"
    ></script>

    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- highchart -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <script>
      var app = new Vue({
        el: "#app",
        data() {
          return {
            step: "step1",
            startIndex: 0,
            // endIndex: 2,
            endIndex: 80,
            curIndex: 0,
            // countPerPage: 3,
            countPerPage: 7,
            allQuestionList: [],
            curQuestionList: [],
            score: [],
            curScoreList: [],
            typeNameList: [
              "개혁가",
              "조력가",
              "성취자",
              "예술가",
              "사색가",
              "충성가",
              "낙천가",
              "지도자",
              "중재자",
            ],
          };
        },
        computed: {
          isNextButtonDisabled() {
            for (let i = 0; i < this.curQuestionList.length; ++i) {
              if (this.curScoreList[i] == 0) {
                return true;
              }
            }

            return false;
          },
        },
        methods: {
          clickStart() {
            this.step = "step2";
            this.curIndex = 0;

            this.setQuestionList();
          },
          setQuestionList() {
            this.curQuestionList = this.allQuestionList.slice(
              this.curIndex,
              Math.min(this.curIndex + this.countPerPage, this.endIndex + 1)
            );

            this.curScoreList.fill(0);

            // 스크롤 위로
            window.scrollTo(0, 0);
          },
          clickNext() {
            // 점수 계산
            for (let i = 0; i < this.curQuestionList.length; ++i) {
              const question = this.curQuestionList[i];
              this.score[question[0] - 1] += parseInt(this.curScoreList[i]);
            }

            // 페이지 이동
            if (this.curIndex + this.countPerPage < this.endIndex + 1) {
              this.curIndex += this.countPerPage;
              this.setQuestionList();
            } else {
              this.step = "step3";
              this.showChart();
            }
          },
          showChart() {
            Highcharts.chart("chart", {
              chart: {
                polar: true,
              },
              title: {
                text: "에니어그램 프로파일",
              },
              pane: {
                startAngle: 20,
                endAngle: 380,
              },
              xAxis: {
                categories: [
                  "1(개혁가)",
                  "2(조력가)",
                  "3(성취자)",
                  "4(예술가)",
                  "5(사색가)",
                  "6(충성가)",
                  "7(낙천가)",
                  "8(지도자)",
                  "9(중재자)",
                ],
                labels: {
                  style: {
                    fontSize: "14px",
                  },
                },
              },
              yAxis: {
                min: 0,
                max: 45,
                tickInterval: 5,
              },
              plotOptions: {
                area: {
                  dataLabels: {
                    enabled: true,
                    style: {
                      fontSize: "14px",
                    },
                  },
                  enableMouseTracking: false,
                },
              },
              series: [
                {
                  type: "area",
                  name: "score",
                  data: this.score,
                  showInLegend: false,
                },
              ],
              credits: {
                enabled: false,
              },
            });
          },
          getEnneagramTypeName() {
            let maxScore = 0;
            let typeList = [];
            for (let i = 0; i < this.score.length; ++i) {
              if (maxScore < this.score[i]) {
                typeList = [i];
                maxScore = this.score[i];
              } else if (maxScore == this.score[i]) {
                typeList.push(i);
              }
            }

            let typeName = "";
            for (let i = 0; i < typeList.length; ++i) {
              if (i > 0) {
                typeName += ", ";
              }
              typeName += this.typeNameList[typeList[i]];
            }

            return typeName;
          },
        },
        mounted() {
          this.score = new Array(9);
          this.score.fill(0);

          this.curScoreList = new Array(this.countPerPage);

          let vm = this;
          $.getJSON("./enneagram.json", function (data) {
            vm.allQuestionList = data;
          });
        },
      });
    </script>
  </body>
</html>
