body {
  background-color: #f8f9fa;
}

#app {
  li {
    margin-bottom: 16px;
  }

  .step2 {
    .card {
      p {
        margin-bottom: 0;
      }

      .btn-group {
        margin-bottom: 0;
        display: flex;

        label {
          flex: 1;
        }

        input {
          // opacity: 0;
        }

        .btn.btn-primary.active.focus {
          color: #fff;
          background-color: #00635a;
          border-color: #00564e;
        }
      }
    }
  }
}
